<div class="row">
	<div class="col-md-6">
		<ol class="breadcrumb" style="background-color:#d9edf7">
		  <li><a ui-sref="#">自动化巡检</a></li>
		  <li class="active">等待锁</li>
		</ol>
	</div>
</div>
<h1>等待锁</h1>

<div class="row margin-bottom-30">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="active"><a ui-sref="RedisResource">共<span class="badge">{{counts}}</span></a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-3 margin-bottom-15">
    <label for="customerCode" class="control-label">数据库选择</label>
      <select ng-init="database = databases[0]" class="form-control" ng-model="database" ng-options="database.name for database in databases" required></select>
  </div>
  <div class="col-md-3 margin-bottom-15">
<!--   	 <br> -->
<!--     <button type="button" ng-click="query()" class="btn btn-primary">查询</button> -->
    <br>
    <div class="col-md-3 col-md-offset-1"><button type="button" ng-click="query()" class="btn btn-primary">查询</button></div>
    <div class="col-md-7 col-md-offset-1" style="color:red">{{log}}</div>    
  </div>
</div>
<div class="row margin-bottom-30">
  <div class="col-md-12">
    <div class="">
      <h4 class="margin-bottom-15">键列表</h4>
      <table class="table table-condensed" style="word-break:break-all; word-wrap:break-all;">
        <thead>
          <tr>
            <th>#</th>
            <th style="text-align:center;">role</th>
            <th style="text-align:center;">user</th>
            <th style="text-align:center;">host</th>
            <th style="text-align:center;">trx_state</th>
            <th style="text-align:center;">trx_started</th>
            <th style="text-align:center;">duration</th>
            <th style="text-align:center;">lock_mode</th>
            <th style="text-align:center;">lock_table</th>
            <th style="text-align:center;">lock_index</th>
            <th style="text-align:center;width:30%">trx_query</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lockwait in lockwaits">
            <td style="text-align:center;">{{$index+1}}</td>
            <td style="text-align:center;">{{lockwait.role}}</td>
            <td style="text-align:center;">{{lockwait.user}}</td>
            <td style="text-align:center;">{{lockwait.host}}</td>
            <td style="text-align:center;">{{lockwait.trx_state}}</td>
            <td style="text-align:center;">{{lockwait.trx_started}}</td>
            <td style="text-align:center;">{{lockwait.duration}}</td>
            <td style="text-align:center;">{{lockwait.lock_mode}}</td>
            <td style="text-align:center;">{{lockwait.lock_table}}</td>
            <td style="text-align:center;">{{lockwait.lock_index}}</td>
            <td style="text-align:center;width:30%">{{lockwait.trx_query}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="row">
      <ul class="pagination pull-right">
        <li class="enable" ng-click="first()"><a ui-sref="RedisResource">首页</a></li>
        <li class="{{leftpagestatus}}" ng-click="leftchangepage()"><a ui-sref="RedisResource">&laquo;</a></li>

        <li class="{{page.status}}" ng-repeat="page in pages" ng-click="changepage($index)"><a class='btn'>{{ page.index + 1 }}</a></li>

        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="RedisResource">&raquo;</a></li>
        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="RedisResource">共&nbsp; &nbsp;{{allpages}}&nbsp; &nbsp;页</a></li>
      </ul>
    </div> -->
  </div>
</div>

