<div class="row">
	<div class="col-md-6">
		<ol class="breadcrumb" style="background-color:#d9edf7">
		  <li><a ui-sref="#">自动化巡检</a></li>
		  <li class="active">慢sql</li>
		</ol>
	</div>
</div>
<h1>慢sql</h1>

<div class="row margin-bottom-30">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="active"><a ui-sref="RedisResource">共<span class="badge">{{counts}}</span></a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-3 margin-bottom-15">
    <label for="customerCode" class="control-label">数据库选择</label>
      <select ng-init="database = databases[0]" class="form-control" ng-model="database" ng-options="database.name for database in databases" required></select>
  </div>
  <div class="col-md-3 margin-bottom-15">
<!--   	 <br> -->
<!--     <button type="button" ng-click="query()" class="btn btn-primary">查询</button> -->
    <br>
    <div class="col-md-3 col-md-offset-1"><button type="button" ng-click="query()" class="btn btn-primary">查询</button></div>
    <div class="col-md-7 col-md-offset-1" style="color:red">{{log}}</div>    
  </div>
</div>
<div class="row margin-bottom-30">
  <div class="col-md-12">
    <div class="">
      <h4 class="margin-bottom-15">键列表</h4>
      <table class="table table-condensed" style="word-break:break-all; word-wrap:break-all;">
        <thead>
          <tr>
            <th>#</th>
            <th style="text-align:center;">start_time</th>
            <th style="text-align:center;">user_host</th>
            <th style="text-align:center;">query_time</th>
            <th style="text-align:center;">lock_time</th>
            <th style="text-align:center;">rows_sent</th>
            <th style="text-align:center;">rows_examined</th>
            <th style="text-align:center;">db</th>
            <th style="text-align:center;">last_insert_id</th>
            <th style="text-align:center;">server_id</th>
            <th style="text-align:center;width:30%">sql_text</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="slowsql in slowsqls">
            <td style="text-align:center;">{{$index+1}}</td>
            <td style="text-align:center;">{{slowsql.start_time}}</td>
            <td style="text-align:center;">{{slowsql.user_host}}</td>
            <td style="text-align:center;">{{slowsql.query_time}}</td>
            <td style="text-align:center;">{{slowsql.lock_time}}</td>
            <td style="text-align:center;">{{slowsql.rows_sent}}</td>
            <td style="text-align:center;">{{slowsql.rows_examined}}</td>
            <td style="text-align:center;">{{slowsql.db}}</td>
            <td style="text-align:center;">{{slowsql.last_insert_id}}</td>
            <td style="text-align:center;">{{slowsql.server_id}}</td>
            <td style="text-align:center;width:30%">{{slowsql.sql_text}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="row">
      <ul class="pagination pull-right">
        <li class="enable" ng-click="first()"><a ui-sref="RedisResource">首页</a></li>
        <li class="{{leftpagestatus}}" ng-click="leftchangepage()"><a ui-sref="RedisResource">&laquo;</a></li>

        <li class="{{page.status}}" ng-repeat="page in pages" ng-click="changepage($index)"><a class='btn'>{{ page.index + 1 }}</a></li>

        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="RedisResource">&raquo;</a></li>
        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="RedisResource">共&nbsp; &nbsp;{{allpages}}&nbsp; &nbsp;页</a></li>
      </ul>
    </div> -->
  </div>
</div>

