<div class="row">
	<div class="col-md-6">
		<ol class="breadcrumb" style="background-color:#d9edf7">
		  <li><a ui-sref="#">自动化巡检</a></li>
		  <li class="active">Redis大键监控</li>
		</ol>
	</div>
</div>
<h1>Redis大键监控</h1>

<div class="row margin-bottom-30">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="active"><a ui-sref="RedisBigKeyMonitor">共<span class="badge">{{counts}}</span></a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6 margin-bottom-15">
    <label for="customerCode" class="control-label">Redis选择</label>
      <select class="form-control" ng-model="redname" ng-options="red.redis_host for red in Redisresult" required></select>
  </div>
  <div class="col-md-3 margin-bottom-15">
  	 <br>
    <button type="button" ng-click="query()" class="btn btn-primary">查询</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="">
      <h4 class="margin-bottom-15">键列表</h4>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>检测时间</th>
            <th>redis实例</th>
            <th>节点</th>
            <th>主键名</th>
            <th>主键类型</th>
            <th>键值(个)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-mouseover="tableblur($index)" ng-mouseleave="tableleave()" ng-repeat="redis in rediss track by $index">
            <td style="{{redis.style}}">{{$index+1}}</td>
            <td style="{{redis.style}}">{{redis.check_time}}</td>
            <td style="{{redis.style}}">{{redis.redis_host}}</td>
            <td style="{{redis.style}}">{{redis.node}}</td>
            <td style="{{redis.style}}">{{redis.key_name}}</td>
            <td style="{{redis.style}}">{{redis.key_type}}</td>
            <td style="{{redis.style}}">{{redis.key_value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <ul class="pagination pull-right">
        <li class="enable" ng-click="first()"><a ui-sref="RedisBigKeyMonitor" style="color:#fff;background-color:#5bc0de;border-color:#357ebd">首页</a></li>
        <li class="{{leftpagestatus}}" ng-click="leftchangepage()"><a ui-sref="RedisBigKeyMonitor" style="color:#fff;background-color:#5bc0de;border-color:#357ebd">&laquo;</a></li>

        <li class="{{page.status}}" ng-repeat="page in pages" ng-click="changepage($index)"><a class='btn' style="{{page.color}};background-color:#5bc0de;border-color:#357ebd">{{ page.index + 1 }}</a></li>

        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="RedisBigKeyMonitor" style="color:#fff;background-color:#5bc0de;border-color:#357ebd">&raquo;</a></li>
        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="RedisBigKeyMonitor" style="color:#fff;background-color:#5bc0de;border-color:#357ebd">共&nbsp; &nbsp;{{allpages}}&nbsp; &nbsp;页</a></li>
      </ul>
    </div>
  </div>
</div>

