<div style="background:black;height:50px">
  	<div class="logo"><img class="img-responsive" src="images/logo.png"/><h1>捷顺科技运维管理平台</h1></div>
	<div class="pull-right" style="margin: 12px 10px;">
<!-- 		<a class="btn btn-info btn-xs" href="http://10.10.205.13:9090/index.html" target="view_window">elk报表</a> -->
		<a class="btn btn-info btn-xs" href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-out"></i>登出</a>
	</div>
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
