<div class="row">
	<div class="col-md-6">
		<ol class="breadcrumb" style="background-color:#d9edf7">
		  <li><a ui-sref="#">License报警管理</a></li>
		  <li class="active">项目License明细</li>
		</ol>
	</div>
</div>
<h1>项目License明细</h1>

<div class="row margin-bottom-30">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="active"><a ui-sref="LicenseManagement">共<span class="badge">{{licensecounts}}</span></a></li>
    </ul>
  </div>
</div> 
<div class="row">
  <div class="col-md-4 margin-bottom-15">
    <label for="projectName" class="control-label">项目名称</label>
    <input type="text" class="form-control" id="customerName" value="" required ng-model="projectname">
  </div>
  <div class="col-md-4 margin-bottom-15">
    <label for="projectName" class="control-label">IP</label>
    <input type="text" class="form-control" id="customerCode" value="" required ng-model="ip">
  </div>
  <div class="col-md-4 margin-bottom-15">
    <br>
    <div class="col-md-3 col-md-offset-1"><button ng-click="operate()" class="btn btn-primary">查询</button></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="">
      <h4 class="margin-bottom-15">项目License明细</h4>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>项目名称</th>
            <th>License申请日期</th>
            <th>license有效期(月)</th>
            <th>IP</th>
            <th>产品类型</th>
<!--             <th>报警手机号</th> -->
<!--             <th>是否启用报警</th> -->
            <th>编辑</th>
          </tr>
        </thead>
        <tbody>
          <tr  ng-mouseover="tableblur($index)" ng-mouseleave="tableleave()" ng-repeat="license in licenses track by $index">
            <td style="{{license.style}}">{{$index+1}}</td>
            <td style="{{license.style}}">{{license.project}}</td>
            <td style="{{license.style}}">{{license.licensestartTime}}</td>
            <td style="{{license.style}}">{{license.duetime}}</td>
            <td style="{{license.style}}">{{license.ip}}</td>
            <td style="{{license.style}}">{{license.project_type}}</td>
<!--             <td>{{license.telephone}}</td> -->
            <!-- <td>
	            <div ng-click="isenable($index)">
	            	<ul class="nav nav-pills nav-stacked" ng-show="{{license.enable}}">
		               <li><span><a ui-sref="LicenseManagement"><i class="glyphicon glyphicon-play"></i></a></span></li>
		            </ul>
	            	<ul class="nav nav-pills nav-stacked" ng-hide="{{license.enable}}">
		               <li><span><a ui-sref="LicenseManagement"><i class="glyphicon glyphicon-pause"></i></a></span></li>
		            </ul>
	            </div>
           </td> -->
           <td style="{{license.style}}">
            	<a ui-sref="LicenseManagement" data-toggle="modal" data-target="#info" ng-click="message($index)">
	          		<span class="glyphicon glyphicon-tasks"></span>
	        	</a>
	        </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="formactdion pull-left">
        <a class="btn btn-primary" data-toggle="modal" data-target="#add">新增</a>
      </div>
      <ul class="pagination pull-right">
        <li class="enable" ng-click="first()"><a ui-sref="LicenseManagement" style="color:#fff;background-color:#5bc0de;border-color:#357ebd">首页</a></li>
        <li class="{{leftpagestatus}}" ng-click="leftchangepage()"><a ui-sref="LicenseManagement" style="color:#fff;background-color:#5bc0de;border-color:#357ebd">&laquo;</a></li>

        <li class="{{page.status}}" ng-repeat="page in pages" ng-click="changepage($index)"><a class='btn' style="{{page.color}};background-color:#5bc0de;border-color:#357ebd">{{ page.index + 1 }}</a></li>

        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="LicenseManagement" style="color:#fff;background-color:#5bc0de;border-color:#357ebd">&raquo;</a></li>
        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="LicenseManagement" style="color:#fff;background-color:#5bc0de;border-color:#357ebd">共&nbsp; &nbsp;{{allpages}}&nbsp; &nbsp;页</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               	新增
            </h4>
         </div>
         <div class="modal-body">
			<form name="myform" role="form" id="templatemo-preferences-form">
				<div class="row">
		          <div class="col-md-6 margin-bottom-15">
		             <span class="label label-info">项目名称</span>
            		 <input type="text" class="form-control" value="" required ng-model="project">
		          </div>
		          <div class="col-md-6 margin-bottom-15">
		             <span class="label label-info">产品类型</span>
		             <select class="form-control" ng-model="project_type" ng-options="service.label for service in services" required>
       				 </select>
		          </div>
		        </div>
				<div class="row">
		          <div class="col-md-6 margin-bottom-15">
		          	  <span class="label label-info">License申请日期</span>
			          <p class="input-group">
			            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" close-text="Close" required/>
			            <span class="input-group-btn">
			              <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			            </span>
			          </p>
		          </div>
		          <div class="col-md-6 margin-bottom-15">
		          	<span class="label label-info">License申请时限</span>
		          	<div class="row">
			          <input style="color:black;margin-left:5%" class="col-md-offset-1 col-md-8" type="text" required ng-model="duetime" maxlength="2"><span class="label label-info">月</span>
		          	</div>
		          </div>
		        </div>
				<div class="row">
		          <div class="col-md-11 margin-bottom-15">
		          	 <span class="label label-info">IP</span>
			         <div class="row">
			          <input style="color:black;margin-left:3%" class="form-control" type="text" required ng-model="ips" placeholder="多个用逗号隔开">
		          	</div>
		          </div>
		        </div>
				<div class="row">
		          <div class="col-md-11 margin-bottom-15">
		          	 <span class="label label-info">需要接受短信的手机号码</span>
			         <div class="row">
			          <input style="color:black;margin-left:3%" class="form-control" type="text" required ng-model="tels" placeholder="多个用逗号隔开">
		          	</div>
		          </div>
		        </div>
			</form>
         </div>
         <div class="modal-footer">
            <button type="button" ng-disabled="myform.$invalid ||myform.$pristine" 
            		class="btn btn-primary" data-dismiss="modal" ng-click="save()">新增</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal -->
</div>

<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               	新增
            </h4>
         </div>
         <div class="modal-body">
			<form name="myform1" role="form" id="templatemo-preferences-form1">
				<div class="row">
		          <div class="col-md-4 margin-bottom-15">
		             <span class="label label-info">项目名称</span>
            		 <input type="text" class="form-control" value="" required ng-model="infoproject">
		          </div>
		          <div class="col-md-4 margin-bottom-15">
		             <span class="label label-info">ip</span>
            		 <input type="text" class="form-control" value="" required ng-model="infoip">
		          </div>
		          <div class="col-md-4 margin-bottom-15">
		             <span class="label label-info">产品类型</span>
		             <select class="form-control" ng-model="infoproject_type" ng-options="service.label for service in services" required>
       				 </select>
		          </div>
		        </div>
				<div class="row">
		          <div class="col-md-6 margin-bottom-15">
		          	  <span class="label label-info">License申请日期</span>
			          <p class="input-group">
			            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="infodt" is-open="opened" close-text="Close" disabled/>
			            <span class="input-group-btn">
			              <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			            </span>
			          </p>
		          </div>
		          <div class="col-md-6 margin-bottom-15">
		          	<span class="label label-info">License申请时限</span>
		          	<div class="row">
			          <input style="color:black;margin-left:5%" class="col-md-offset-1 col-md-8" type="text" required ng-model="infoduetime" maxlength="2"><span class="label label-info">月</span>
		          	</div>
		          </div>
		        </div>
				<div class="row">
		          <div class="col-md-11 margin-bottom-15">
		          	 <span class="label label-info">需要接受短信的手机号码</span>
			         <div class="row">
			          <input style="margin-left:3%" class="form-control" type="text" required ng-model="infotels" placeholder="多个用逗号隔开">
		          	</div>
		          </div>
		        </div>
			</form>
         </div>
         <div class="modal-footer">
            <button type="button" ng-disabled="myform1.$invalid ||myform1.$pristine" 
            		class="btn btn-primary" data-dismiss="modal" ng-click="updateInfo()">更新</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal -->
</div>