<div class="row">
	<div class="col-md-6">
		<ol class="breadcrumb" style="background-color:#d9edf7">
		  <li><a ui-sref="Automation">自动化部署管理</a></li>
		  <li class="active">历史部署查询</li>
		</ol>
	</div>
</div>
<h1>历史部署查询</h1>
<br>
<div class="row margin-bottom-30">
  <div class="col-md-12">
    <form name="myform" role="form" id="templatemo-preferences-form" novalidate>
      <div class="row">
        <div class="col-md-4 margin-bottom-15">
          <label for="projectName" class="control-label">开始时间</label>
          <p class="input-group">
            <input type="text" disabled class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" close-text="Close" required/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-md-4 margin-bottom-15">
          <label for="projectName" class="control-label">结束时间</label>
          <p class="input-group">
            <input type="text" disabled class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt1" is-open="opened1" close-text="Close" required/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-md-4 margin-bottom-15">
          <br>
          <div class="col-md-3 col-md-offset-1"><button ng-click="operate()" class="btn btn-primary">查询</button></div>
        </div>
      </div>
      <div class="row">
        <div class=" container">
	      <h4 class="margin-bottom-15">列表</h4>
	      <table class="table table-hover table-bordered">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>主机ip</th>
	            <th>部署类型</th>
	            <th>部署版本</th>
	            <th>部署时间</th>
	            <th>部署状态</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="history in historys">
	            <td>{{ $index + 1 }}</td>
	            <td>{{history.ip}}</td>
	            <td>{{history.type}}</td>
	            <td>{{history.version}}</td>
	            <td>{{history.time}}</td>
	            <td>{{history.status}}</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
      </div>
    </form>
  </div>
</div>
