<div class="row">
	<div class="col-md-6">
		<ol class="breadcrumb" style="background-color:#d9edf7">
		  <li><a ui-sref="Automation">自动化部署管理</a></li>
		  <li class="active">定时重启</li>
		</ol>
	</div>
</div>
<h1>定时重启</h1>
<br>
<div class="row margin-bottom-30">
  <div class="col-md-12">
    <form name="myform" role="form" id="templatemo-preferences-form" novalidate>
      <div class="row">
        <div class="col-md-4 margin-bottom-15">
          <label class="control-label">请选择重启的服务</label>
           <select class="form-control" ng-model="service" ng-options="service.label for service in services" required>
            <option value="">-- 请选择重启服务 --</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 margin-bottom-15">
            <label for="customerName" class="control-label">输入ip</label>
            <input type="text" name="ip" ng-model="ip" class="form-control" ng-pattern="phoneNumberPattern" required>
        </div>
        <div class="col-md-4 margin-bottom-15">
          <label for="projectName" class="control-label">重启时间选择</label>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd HH:mm:ss" ng-model="dt" is-open="opened" close-text="Close" required/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-md-4 margin-bottom-15">
          <br>
          <div class="col-md-3 col-md-offset-1"><button ng-click="operate()" class="btn btn-primary" ng-disabled="myform.$invalid ||myform.$pristine">定时重启</button></div>
          <div class="col-md-5 col-md-offset-1" style="color:red">{{result}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 margin-bottom-15">
          <label for="notes">日志</label>
          <textarea class="form-control" rows="18" id="notes" ng-model='logs'></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-default">清空</button>    
        </div>
      </div>
    </form>
  </div>
</div>
