<div class="row">
	<div class="col-md-6">
		<ol class="breadcrumb" style="background-color:#d9edf7">
		  <li><a ui-sref="#">自动化巡检</a></li>
		  <li class="active">中间件</li>
		</ol>
	</div>
</div>
<h1>中间件</h1>

<div class="row margin-bottom-30">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="active"><a ui-sref="Middleware">共<span class="badge">{{counts}}</span></a></li>
    </ul>
  </div>
</div> 
<div class="row">
  <div class="col-md-3 margin-bottom-15">
    <label for="customerCode" class="control-label">产品选择</label>
      <select class="form-control" ng-model="servicename" ng-options="service.label for service in services" required></select>
  </div>
  <div class="col-md-4 margin-bottom-15">
	   <label for="projectName" class="control-label">版本选择</label>
	   <p class="input-group">
	     <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" close-text="Close" required/>
	     <span class="input-group-btn">
	       <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	     </span>
	   </p>
  </div>
  <div class="col-md-3 margin-bottom-15">
    <label for="projectName" class="control-label">项目名称</label>
    <input type="text" class="form-control" id="customerCode" value="" required ng-model="projectname">
  </div>
  <div class="col-md-2 margin-bottom-15">
    <label for="projectName" class="control-label">项目编号</label>
    <input type="text" class="form-control" id="customerCode" value="" required ng-model="projectcode">
  </div>
  <div class="col-md-1 margin-bottom-15">
    <label for="customerCode" class="control-label">是否监控</label>
    <p>
    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="watch1">监控中
    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="watch2">非监控
  </div>  
  <div class="col-md-3 margin-bottom-15">
    <br>
    <div class="col-md-3 col-md-offset-1"><button ng-click="operate()" class="btn btn-primary">查询</button></div>
  </div>
</div>
<div class="row margin-bottom-30">
  <div class="col-md-12">
    <div class="">
      <h4 class="margin-bottom-15">列表&nbsp; &nbsp;<!-- <button type="button" ng-click="exportrds()" class="btn btn-primary">导出</button> --></h4>
      <div class="col-md-6">
	      <table class="table table-hover table-bordered">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>数据库</th>
	            <th>表名</th>
	            <th>行数</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="bt in bts1">
	            <td>{{$index+1}}</td>
	            <td>{{bt.table_schema}}</td>
	            <td>{{bt.table_name}}</td>
	            <td>{{bt.table_rows}}</td>
	          </tr>
	        </tbody>
	      </table>
      </div>
      <div class="col-md-6">
	      <table class="table table-hover table-bordered">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>数据库</th>
	            <th>表名</th>
	            <th>行数</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="bt in bts2">
	          	<td>{{$index+1}}</td>
	            <td>{{bt.table_schema}}</td>
	            <td>{{bt.table_name}}</td>
	            <td>{{bt.table_rows}}</td>
	          </tr>
	        </tbody>
	      </table>
      </div>
    </div>
	<div class="row">
      <ul class="pagination pull-right">
        <li class="enable" ng-click="first()"><a ui-sref="Middleware">首页</a></li>
        <li class="{{leftpagestatus}}" ng-click="leftchangepage()"><a ui-sref="Middleware">&laquo;</a></li>

        <li class="{{page.status}}" ng-repeat="page in pages" ng-click="changepage($index)"><a class='btn'>{{ page.index + 1 }}</a></li>

        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="Middleware">&raquo;</a></li>
        <li class="{{rightpagestatus}}" ng-click="rightchangepage()"><a ui-sref="Middleware">共&nbsp; &nbsp;{{allpages}}&nbsp; &nbsp;页</a></li>
      </ul>
    </div>
  </div>
</div>
